[2014-02-10 02:15] radiegtya opened #1 "Please Give example how to loop the post collection"
[code]

[code]

Thanks

[2014-02-10 08:23] #1 closed, assigned to nobody

[2014-02-21 17:20] yeputons opened #2 "Clarification request: does it support chaning foreign keys?"
Say, if I change post's author, will another author be automatically re-published instead of the old one? I've looked into the code and I think that that's not the usecase, but I'm not sure. Anyway, this issue can be used as a feature request instead.

[2014-02-21 17:44] yeputons opened #3 "Removal of top level documents does not cause removal of children"
<a href="https://gist.github.com/yeputons/9139098">Gist</a> with an example. Create Meteor app, replace its sources with my example and navigate to the main page. Check some of the items - corresponding 'authors' will appear in the bottom. But if you uncheck some items, authors won't disappear (even if there were no 'diamon' joins).

Refreshing the page fixes the subscription.

[2014-03-12 01:03] #3 closed, assigned to nobody

[2014-03-14 01:14] #2 closed, assigned to nobody

[2014-04-01 15:47] reywood opened #4 "When record changes, only add/remove children that are different"
Currently, when a record changes, all of its children are unpublished and then re-published. This ensures that the composite tree is up to date, but most likely results in a lot of unnecessary traffic. A proper diff should be done between the old children and the new, and only the changes should be sent up to the client.

[2014-05-06 14:08] awesomepan opened #5 "v1.0.6 lost"

[2014-05-06 15:17] #5 closed, assigned to nobody

[2014-05-17 02:04] dandv opened #6 "Comparison with publish-with-relations"
This package seems quite related to the earlier [https://github.com/svasva/meteor-publish-with-relations](publish-with-relations). How would the two compare?

[2014-05-17 03:51] dandv opened #7 "Support returning objects from find"
Currently `find` requires returning a cursor, but I've run into a use case where I'd like to return a static object, such as a placeholder image.

[code]

When trying that, I get an error `TypeError: Object #<Object> has no method '_getCollectionName'`. It would be nice to have support for returning objects, of course without `children` allowed in that case.

[2014-07-23 16:33] #6 closed, assigned to nobody

[2014-07-23 16:35] #7 closed, assigned to nobody

[2014-08-13 01:14] #4 closed, assigned to reywood

[2014-08-28 21:15] reywood opened #8 "Support for Meteor 0.9"
Waiting on meteor/meteor#2469

[2014-08-28 22:21] zimme opened #9 "Publish with conditions"
How do i publish only if a user is logged in with this package?

[code]

[2014-08-28 22:41] #9 closed, assigned to nobody

[2014-08-29 00:57] reywood opened #10 "Exception when republishing null cursor"
[code]

[2014-08-29 00:58] #10 closed, assigned to reywood

[2014-08-29 01:57] #8 closed, assigned to reywood

[2014-09-17 07:16] fungilation opened #11 "Borked in meteor 0.9.2.1"
`W20140917-00:14:12.094(-7)? (STDERR) TypeError: Object #<Object> has no method 'publishComposite'`

etc.

[2014-09-17 18:12] zenonn37 opened #12 "Only publishing first parent version 1.3.0"
Hi,
I upgraded to 9.2.1 and cant seem to publish children. Here is an example:

Meteor.publishComposite('client-detail',function(id){

[code]

});

Thanks Chris

[2014-09-17 21:09] #12 closed, assigned to nobody

[2014-09-19 07:55] #11 closed, assigned to nobody

[2014-10-09 16:36] czeslaaw opened #13 "Problem with unset"
When i do `Collection.update({....},{$unset: {field: ''}})` subscription does not send this change.

This is because when you call changed callback on subscription you need to set fields that were unset as undefined (document must be object with this property explicitly set as undefined not just object without this property). Link to meteor docs http://docs.meteor.com/#publish_changed.

observeCha

[2014-10-09 23:42] dotnetwise opened #14 "Performance"
Can you please document some benchmarks addressing performance and what to / what NOT to do advices?

[2014-10-15 01:38] #13 closed, assigned to nobody

[2014-10-21 11:49] bastiaanterhorst opened #16 "trouble publishing on 0.9.4"
Hi,
Despite the examples in the readme, I'm having trouble getting this package to work. I'm running Meteor 0.9.4. My setup is very simple:

The  publication

[code]

And my route subscribes like this

[code]

When I call `Meteor.users.find()` on the client, the collection only contains my current logged-in user, not any of the users that should be loaded via publishComposite. Any ideas?

Or Is th

[2014-10-21 18:07] #16 closed, assigned to nobody

[2014-10-31 07:28] bastiaanterhorst opened #17 "Overlapping child documents are not published to all their named collections"
When creating multiple child collections that have a collectionName (so they end up in virtual collections), overlapping documents (docs that should appear in both virtual collections) only appear in one of the virtual child collections.

This is not an issue when you're not using the collectionName, since they you're always finding in the real mongo collection, and everything will be present ther

[2014-11-04 19:28] #14 closed, assigned to nobody

[2014-11-04 19:29] #17 closed, assigned to nobody

[2014-11-05 23:00] fongandrew opened #18 "Return empty object or null cursor"
Is there a way for a find function to return an intentionally empty set of documents? For example, I have a parent publication retrieving the User document and a child `find` function returning a cursor only if the User document contains the requisite permission.

If the child `find` function is passed an invalid User document, there's currently no good way to process that. When using `Meteor.publ

[2014-11-05 23:55] #18 closed, assigned to nobody

[2014-11-09 23:19] kaamodt opened #19 "[TypeError: Object [object Object] has no method 'publishComposite']"
Hi!

I have an application that, until now, has relied on reactivity on the client to update subscribtions that are dependent on other collections. This is working, but it seems as a rather hacky solution. After reading a bit on the reactive publications topic I came across this package and it seems very promising.

Unfortunately, I am very quickly running into a problem. I have added the reywood:

[2014-11-19 10:40] dohomi opened #20 "fast-render and publish composite"
Hello,

is this package compatible with fast-render? I would like to know if I need to take care about special adjustment in the code.

Thanks for this great package by the way!

[2014-11-20 22:31] #20 closed, assigned to nobody

[2014-11-24 12:37] timothyarmes opened #21 "Aurgument check"
Hi,

It would be nice if this package would oblige us to check the arguments to the publish function like we have to unwed Meteor.Publish with audit-argument-checks installed.

[2014-11-28 22:17] dandv opened #22 "Add Atmosphere link as GitHub repo URL"
Example:

[![image](https://cloud.githubusercontent.com/assets/33569/4949884/c2b69bde-6651-11e4-88eb-8fdf8e8c9f0a.png)](https://github.com/dandv/meteor-jquery-rateit)

[2014-12-16 10:29] bitomule opened #23 "Reactive publish"
Is it possible to user the reactive publish package with publish composite?

https://github.com/Diggsey/meteor-reactive-publish

It would be great to be able to do it, I've some complex publication that depends on other collection cursor only in some cases so I can't do it using publish composite only.

Any ideas?

[2014-12-16 20:51] #23 closed, assigned to nobody

[2014-12-16 20:54] #22 closed, assigned to nobody

[2014-12-23 18:26] tehfailsafe opened #24 "Resolved, no issue"
Resolved my issue, I had a mistaken extra users.search that I was apparently leaking out to unexpected places.

[2014-12-23 19:45] #24 closed, assigned to nobody

[2015-01-02 01:20] medihack opened #25 "Cancel publish"
Within the normal `publish` method there is an easy way to cancel the publish and return nothing (just use `this.ready(); return;`. With `publishComposite` this doesn't work. I get the following exception then: `Exception from sub 2BgTTyL3mgoTmRtbL TypeError: Cannot read property 'children' of undefined`.

How could I just cancel the publish (and publish nothing), for example when some provided pa

[2015-01-02 02:10] medihack commented on #25
Ok, it seems a simple `return {find: function() {}}` solves the problem.

[2015-01-02 02:10] #25 closed

[2015-01-04 06:54] sivailango opened #26 "Publish composite with Router"
'client' collection:
{
    "name" : "Test",
    "code" : "test",
    "createdAt" : ISODate("2015-01-01T20:29:05.290Z"),
    "classifications" : [
        {
            "id" : "DS8QAaFnk5XHbcFhH"
        },
        {
            "id" : "tFKDJi7s3PFJbHpCu"
        },
        {
            "id" : "Htdv9RKrrCbYwPpEt"
        }
    ]
    "_id" : "rzaC7fdmrE6KTgWXF"
}

'classification' collection:
{

[2015-01-05 10:51] pmuens opened #27 "Upsert support"
It seems that the hooks are not called when upsert is used.

I had the bug that the publication doesn't publish any data because softRemovable() was used and the documents were inserted via upsert. This way no documents are published because the softRemovable()-Functionality prevents publishing of documents which doesn't use the softRemovable()-Functionality.

[2015-01-05 12:51] #27 closed

[2015-01-05 12:52] pmuens commented on #27
Sorry. Wrong Repository :-(

[2015-01-11 10:17] steph643 opened #28 "Compatibility with added/changed/removed in publish"
As you know, there are two methods to implement a publish function:
1. By returning a cursor (or an array of cursors)
2. By using `this.added()` / `this.changed()` / `this.removed()`, usually from `cursor.observeChanges()` callbacks

Let's consider these three use cases for method 2:
a. You want to add a field to a document before publication
b. You want to remove a field from a document before pu

[2015-01-11 18:24] benstr commented on #28
+1. I found a [useful how-to on the subject](http://matthewfieger.com/posts/me/2014/07/28/multiple-reactive-joins-in-meteor.html ) but would like to know if publish-composite has a easier way of accomplishing this. My ultimate goal is `sort:` on my subscriptions need to include fields from children publications. By merging documents during publication into a custom collection would solve the issue

[2015-01-11 23:19] mquandalle opened #29 "Modifying the relation field causes a race condition"
Hello,

We encounter an issue in https://github.com/libreboard/libreboard/issues/61 related to the update of data published by `publishComposite` in a environment with latency between the client and the server (it works in local, but we have the bug in production).

I'm not sure what the problem exactly is, it seems to be related to the modification of the field that is used to make the relation i

[2015-01-14 15:56] mquandalle commented on #29
After further investigations I get a better understanding of the problem, and I'll try to expose it here. Basically there is a race condition if you update the field that is used to make the `publishComposite` relation.

Let me explain the example linked above. We have two collection with a `1..n` relation between them. There is a list of `Tasks`, and some `Workers` each being assigned to a single

[2015-01-16 22:23] reywood commented on #29
Thanks for the incredible detailed report. I'll delve into this and see if I can figure it out.

[2015-01-16 22:31] mquandalle commented on #29
Note that the problem I had in LibreBoard was fixed in https://github.com/libreboard/libreboard/commit/6c73ac317d6a7c5efb2c82975ca3e6a2f049e3a9. But the bug reported here still stands.

[2015-01-22 01:48] ccorcos opened #30 "Publication error"
I check to see if a user is logged in to publish:

[code]

And sometime, like when I logout, I get a weird error like this:

[code]

[2015-01-22 08:07] benstr commented on #30
Here is an example of how I do it by calling `this.stop()` in the else.

[code]

[2015-01-22 15:50] reywood commented on #30
The best way to do this is to move your user check inside the `find` function.

[code]

You should not call `@stop` when using publishComposite.

[2015-01-22 15:52] #30 closed

[2015-01-22 15:52] benstr commented on #30
OK thanks for noting that @reywood

[2015-01-22 16:01] reywood commented on #26
The `classifications` property on your client records is an array, so you can't do `WorkClassification.find({ _id : client.classifications.id});` or `WorkClassification.findOne(this.client.classifications.id);`. You would have to do something like `WorkClassification.find({ _id : { $in: { _.map(client.classifications, function(c) { return c.id; }) } } });`.

[2015-01-22 16:01] #26 closed

[2015-01-22 16:06] reywood commented on #28
Unfortunately, there is no way to do this with publishComposite right now. I'll leave this open as a feature request for now.

[2015-01-22 18:04] ccorcos commented on #30
Thanks @reywood. I forgot to remove `if r then return r else return false` before posting -- that we me just trying different things. Thanks again.

[2015-01-25 00:08] fongandrew opened #31 "Trigger error callbacks on errors within nested functions"
It is possible to pass an `onError` callback to `Meteor.subscribe` that is fired when there is an error within the publication or the publication explicitly calls `this.error()`.

This doesn't appear to work if the error occurs within a nested `find` function (although explicitly calling `this.error()` does still work) -- that is ...

[code]

It'd be nice if publish-composite had an option to auto

[2015-02-06 00:48] reywood commented on #31
The `throw` in your first `find` function is unreachable due to the `return` preceding it. It will never be called. Not sure why you're seeing the onError callback getting triggered.

In any event, the current behavior is consistent with Meteor's `publish` method. Probably best to stick with what people will expect when possible.

[2015-02-06 00:48] #31 closed

[2015-02-06 20:11] fongandrew commented on #31
Oh, huh, that's embarrassing. Totally didn't see the return.

[2015-02-06 22:26] reywood commented on #31
Happens to the best of us :)

[2015-02-17 20:24] fpoirier1 commented on #25
Would be great something like `this.cancel()` though..

[2015-02-17 21:27] reywood commented on #25
@fpoirier1 You can simply `return` from a `find` function to accomplish that.

[2015-02-17 21:31] fpoirier1 commented on #25
Yes, this is what I am doing right now :

    var cancel = function(){
      return {find: function() {}}
    }

    Meteor.publishComposite('projects', function(){
      // Return nothing if user is not loggedIn
      if(!this.userId)
        return cancel();

        ...

I just tought it would have been only cleaner that's all.

[2015-02-17 21:40] reywood commented on #25
I discuss that scenario briefly in [this blog post](http://braindump.io/meteor/2014/09/12/publishing-reactive-joins-in-meteor.html).

[2015-02-17 21:58] fpoirier1 commented on #25
I get your point. Awesome work by the way!

[2015-03-06 08:01] dcworldwide opened #32 "Add recursive delete support"
Could you please add recursive deletes? My children objects are being orphaned :(

[2015-03-13 01:35] ThePumpingLemma commented on #19
The problem is with sanjo:jasmine. When it runs server side unit tests, it tries to call `publishComposite`. However, it doesn't exist in this case since sanjo:jasmine doesn't load the corresponding package in the server unit test context. You need to mock `publishComposite` in your unit tests to avoid this error.

[2015-03-13 10:53] miguelalarcos opened #33 "soop integrates publish-composite"
Hi, I would like to tell you about my new package ```soop```, [Simple Object Oriented Programming](https://github.com/miguelalarcos/soop), where I integrate ```publish-composite```.
I tell you if you had an opinion about the integration of your packages.
I'm still not sure if that kind of programming is useful with Meteor, but I want to give it a try. Thanks for your attention.

[2015-03-17 14:55] reywood commented on #19
Thanks for shedding some light on this @ThePumpingLemma. Going to close this issue.

[2015-03-17 14:55] #19 closed

[2015-03-17 14:56] reywood commented on #32
Recursive deletes should work. Would have to see some code to comment further.

[2015-03-17 14:59] reywood commented on #33
Feel free to use this code however you see fit :)

[2015-03-17 14:59] #33 closed

[2015-03-18 01:30] reywood commented on #21
If audit-argument-checks is installed, this should already work.

[2015-03-18 01:30] #21 closed

[2015-03-24 19:52] reywood commented on #29
A new version has been released that may fix this issue. I didn't have much luck replicating your problem, but this release fixes some odd behavior I was seeing that seemed somewhat related. I know you've updated your project to avoid this issue, so I have no expectation that you'll test this. Going to close this issue, but feel free to re-open it if you experience this problem again.

[2015-03-24 19:52] #29 closed

[2015-03-24 19:53] reywood commented on #32
Closing for now. Feel free to re-open if you still see this issue and can provide example code.

[2015-03-24 19:53] #32 closed

[2015-03-27 15:36] pociej opened #35 "strange error.."
I20150327-16:37:13.264(1)? Exception in queued task: TypeError: Object #<Object> has no method '_getCollectionName'
I20150327-16:37:13.264(1)?     at Publication._getCollectionName (packages/reywood:publish-composite/lib/publication.js:74:1)
I20150327-16:37:13.264(1)?     at Publication.publish (packages/reywood:publish-composite/lib/publication.js:15:1)
I20150327-16:37:13.264(1)?     at Publicati

[2015-03-27 15:39] reywood commented on #35
Do you happen to know what version of meteor you're running?

[2015-03-27 15:42] pociej commented on #35
i 1.0.4 or 1.0.5 , same error in both cases

[2015-03-27 15:56] reywood commented on #35
Sounds like perhaps one of your `find` functions is not returning a cursor. Could you post your `publishComposite` routine?

[2015-03-27 15:59] pociej commented on #35
sorry man , you are right , there is findOne by accident. Thx a lot and sorry one more time

[2015-03-27 15:59] #35 closed

[2015-03-27 16:04] reywood commented on #35
No worries

[2015-03-30 15:20] darkadept opened #36 "Multiple cursors"
In Meteor's regular publish function I can return an array of cursors for different collections. Is there a way to do this with publishComposite?

[2015-03-31 08:02] bensmeets opened #37 "Suddenly things stopped working :)"
Hi, could be that this issue has multiple possible causes (Meteor 1.1, collection-hooks and having tried out velocity testing), but today I suddenly starting getting all kinds of errors like this:

[code]

Any ideas?

[2015-03-31 08:24] bensmeets commented on #37
Ignore mode on, somewhere someone changed a "find()" to a "findOne()" :)

[2015-03-31 08:24] #37 closed

[2015-03-31 23:11] reywood commented on #36
Hmm, I can't really envision how that would work in the context of this package. How would you envision child publications working?

[2015-04-01 14:41] darkadept commented on #36
Alas I don't really have a vision how it would work. I did get around it by returning a dummy cursor of 1 result as my top level document and then just using the 1st level children as multiple top level cursors. Then each "top-level" cursor can have children and so on as per normal.

I guess one way would be to have the option to say "no ultimate top level cursor". There are probably other ways as

[2015-04-10 14:55] reywood commented on #36
You may be better off splitting those into multiple publications.

[2015-04-16 16:38] martinhbramwell opened #38 "Error: Doc not found in list: reywood_publish-composite.js line 210"
This error only appears in my Cucumber log, seems not to affect my app in any way and does not reference any code in my app.  Meteor-publish-composite seems to be a dependency of some other package; I did not add it explicitly myself.  Perhaps it is a accident waiting to happen :

[code]

I'd like to know if I am the only one seeing this.  If you need further details, I'll be happy to oblige.

I'm

[2015-04-16 21:33] reywood commented on #38
Hmmm, that is a brain buster. After reviewing the code, I can't figure out how that's possible unless there is some test code that produces a document with a mutating `_id` field. If you can figure out what package depends on this one, that might help.

[2015-04-25 17:41] kaamodt commented on #19
Thanks for the information @ThePumpingLemma  :)

[2015-04-29 01:25] ccorcos opened #39 "publication limit the total amount of children"
So I have a schema where posts can be "starred" by users, and users can "follow" other users. A user's feed consists of all the posts that are starred by the users they follow.

Now the question is how to I build a publication:

[code]

The problem here is that I want to sort and limit all of the posts. I believe this implementation doesnt actually sort or limit anything because we're just finding

[2015-04-30 15:14] reywood commented on #39
It don't think publishComposite is well suited to this use case. Sorry!

[2015-05-01 00:40] ccorcos commented on #39
Yeah, I think its a problem with mongo more than anything.

This works, but its super inefficient:

[code]

[2015-05-01 00:40] #39 closed

[2015-05-11 16:00] fpoirier1 commented on #29
I'm facing the same issue. I'm using v1.3.6. I'm not too sure how I can bring more details than what @mquandalle reported...

[2015-05-14 13:21] tdmoneybanks opened #40 "publish composite returns the docs in two collections client side"
I am using publish composite and it is returning the docs into their own respective collections on the client as opposed to just one collection. Here is my code:
[code]
How would I get it to just return one cursor?

[2015-05-15 22:30] reywood commented on #29
If you could put together a minimal Meteor app that exhibits the issue, that would be extremely helpful. As it is, I haven't been able to reproduce the problem.

[2015-05-15 22:34] reywood commented on #40
Check out [this blog post](http://braindump.io/meteor/2014/09/20/publishing-to-an-alternative-clientside-collection-in-meteor.html). It describes the use of the `collectionName` option.

[2015-05-15 22:34] #40 closed

[2015-05-23 16:08] rclai opened #41 "Question: About license and forking"
I've forked your repo to create a [RethinkDB adaption of it](https://github.com/Profab/meteor-rethink-publish-composite) and gave @reywood attribution. Is there anything in particular that needs to be done under the terms of your license?

[2015-05-26 19:55] reywood commented on #41
Nope. Have at it, and good luck.

[2015-05-26 19:55] #41 closed

[2015-05-26 19:56] rclai commented on #41
Okay thanks.

[2015-06-12 17:06] hellogerard commented on #36
I ran into this issue as well, since I had multiple queries for a particular publication.

Currently, the 2nd param is an object literal or a function that returns one. I was envisioning that the 2nd param could be either an array of object literals, or an array with a literal and a cursor, or a function that returns either. This keeps somewhat the same pattern as regular `Meteor.publish`.

Just m

[2015-06-16 20:09] Diggsey opened #42 "Feature request: restrict which cursors are published"
At the moment, everything returned by a top-level "find" is automatically published to the client, but I only want the children to be published.

Similarly, sometimes you only want certain fields to be published, but you need all the fields to run the child query. For example, I have a field `user.secret` which I use as part of a child query, but I don't want to publish that field to the client.

[2015-06-30 15:06] Neobii opened #44 "Exception in queued task: TypeError: Object has no method '_getCollectionName'"
Exception in queued task: TypeError: Object  has no method '_getCollectionName'
    at Publication._getCollectionName (packages/reywood:publish-composite/lib/publication.js:74:1)
    at Publication.publish (packages/reywood:publish-composite/lib/publication.js:15:1)
    at Publication.createChildPublication (packages/reywood:publish-composite/lib/publication.js:81:1)
    at Array.forEach (native)

[2015-06-30 15:55] #44 closed

[2015-07-05 11:59] helfer opened #45 "Publishing large documents causes Exception from task: [RangeError: Maximum call stack size exceeded]"
Returning a large document in a find that has children defined seems to cause the following error: Exception from task: [RangeError: Maximum call stack size exceeded]

A workaround that works fine in my case is to limit the publication in the find to only the fields that are needed for the child subscription, but it won't work for you if you need the whole document.

In my example, documents in th

[2015-07-07 14:26] patrickml opened #46 "Error when logging out"
for some reason I am receiving this error when logging out:

[code]

 I have a feeling it has to do the fact that I have a check for if you are logged in in the publish function like so

[code]

Any ideas?

[2015-07-07 15:02] reywood commented on #45
From the looks of the stack trace, I don't think this has to do with the child publication. The `Maximum call stack size exceeded` error indicates that there's a recursive function that's recursing too much. Looking at the [wait function in the fibers library](https://github.com/laverdet/node-fibers/blob/master/future.js#L415) (which appears to be generating this error and is recursive), it looks

[2015-07-07 15:03] reywood commented on #38
Closing for now. Feel free to re-open if a reproduction for this issue is found.

[2015-07-07 16:59] helfer commented on #45
You're right! After trying around a little bit, I found that the problem was not the document size, but probably an infinite recursion when some method tried to serialize the exam object to pass it around ( it contains a tree with circular references). Simply adding ```{ transform: null }``` made the problem go away.

I think it's probably worth mentioning in the documentation that if there is a t

[2015-07-07 16:59] #45 closed

[2015-07-16 06:00] dohomi opened #48 "compatibility with meteorhacks:unblock"
Hello,
I would like to know if there is any plan of supporting `meteorhacks:unblock`inside of this package. The unblock package helped a lot to improve the page speed on my app. Did you have any experience with it? Thanks

[2015-07-23 21:26] Rich17 commented on #42
Is there currently a way to restrict certain fields from being returned from a top-level "find" even if you don't  need them to run the child query? Queries such as the following don't seem to work in any context, which makes security management more difficult: `db.inventory.find( { type: 'food' }, { item: 1, qty: 1 } )`

[2015-07-23 21:30] urossmolnik commented on #42
Yes there is. Meteor syntax is `db.inventory.find( { type: 'food' }, { fields: { item: 1, qty: 1 } } )`.
[Documentation](http://docs.meteor.com/#/full/find)

[2015-07-23 22:36] Rich17 commented on #42
Looks like I need to reread the docs. Thank you.

[2015-07-24 00:13] jasonszhao commented on #36
Splitting off to multiple publications would be terribly annoying if I wanted to return a big compilation of data that came from multiple sources.

[2015-07-28 17:18] rfines opened #50 "Turning off reactivity for specific publications"
First off, I really like this package and use it liberally. My only problem with it right now is that I am running into a case where I need to subscribe to a composite publication but I don't want it to update when I update documents.
Here is a breakdown of my use case:

I have a platform that is built as a collection of microservices, one of the services controls all access to the data through pu

[2015-07-28 23:23] rfines opened #51 "Object has no method _getCollectionName"
I am receiving the above error and the following output:

    TypeError: Object  has no method '_getCollectionName'
    W20150728-18:13:33.322(-5)? (STDERR)   at Publication._getCollectionName   (/Users/rfines/Projects/eventr.io/.meteor/local/build/programs/server/packages/reywood_publish-composite.js:130:63)
    W20150728-18:13:33.322(-5)? (STDERR)   at Publication.unpublish (/Users/rfines/Projec

[2015-07-29 00:37] reywood commented on #50
Sounds like you should be using a [method](http://docs.meteor.com/#/full/meteor_methods) rather than a publication. Publications are made to be reactive. If you don't want/need reactivity you will use less server resources with a method.

[2015-07-29 01:11] rfines commented on #51
I have created a (gist)[https://gist.github.com/rfines/c0cde63eb4198da22d11] that has some more console output for you to look over if it is helpful. I recently updated my packages and this started happening at almost every composite publication that the client subscribes to. The first time I visit any page that relies on a composite publication I get a bunch of error output in my console and the

[2015-07-29 01:16] rfines commented on #50
I actually tried to go that way to begin with but after some research I found that I had to subscribe to the data from the other services or there wasn't any data available to the service. I will do some more playing around with it and see if I can figure out what I can do.

[2015-07-29 01:16] #50 closed

[2015-07-29 15:16] rfines commented on #51
Apparently returning nothing from a find function is not the same as returning a falsey value. Also I couldn't return a cursor that I knew to be empty, something like:

    return Files.find({_id:"null"});

That doesn't work but

    return;

does seem to make the error go away. So I had to change all of my publishComposite publications that had cases that didn't return anything from the find func

[2015-07-29 15:16] #51 closed

[2015-08-05 07:29] mordra commented on #36
I have the same requirements for a 'startup' publication where I have one cursor that has dependencies but another cursors which is just by itself.
[code]

However, I'm guessing that if my top find function doesn't change then the children won't get rerun, therefore I don't think that @darkadept solution works unless the dummy cursor contains all the cursors below it?

[2015-08-06 21:09] serkandurusoy commented on #48
I've been using it for a while without any problems.

[2015-08-07 14:58] bubuntux commented on #36
i'm running into something similar, i'll try to simplify my scenario using coffescript

    # collections.coffee (lib/)
    Players = new Mongo.Collection 'players'
    Games = new Mongo.Collection 'games'

    # publish.coffee (server/)
    Meteor.publishComposite 'game', (gameKey) ->
      check gameKey, String
      collectionName: 'me'
      find: -> Players.find _id: Meteor.userId(), gameKey:

[2015-08-08 10:21] serkandurusoy commented on #28
Please take a look at https://forums.meteor.com/t/add-subscriptionid-to-documents-during-subscription/8051/12?u=serkandurusoy

I've actually been using `transform` within the `find` functions, just to avoid using verbose `observe` syntax. And it turns out, I actually can't use `transform` in regular `publish` and `observe` with `publishComposite`.

To be frank, I really don't mind (at least curren

[2015-08-08 20:12] v3rron opened #52 "Publications are leaking(!) to other routes for current user"
I have two publications:
[code]
And two routes:
[code]
As you can see in this scenario in "onePost" publication I'm not filtering posts by "status.deleted: false". That's because I want to publish deleted post only to "postShow" route and if it's deleted, I'm showing manual message to user: "This post has been deleted".
But I do filter by "status.deleted: false" on "explore" page as you can see in

[2015-08-08 21:21] v3rron commented on #52
I actually figured it out. :) It turned out to be subsManager package which was basically caching the subscriptions on the client.
Just needed to change from ``subsManager.subscribe('onePost')`` to ``Meteor.subscribe('onePost')`` and everything works like a charm.

[2015-08-08 21:21] #52 closed

[2015-08-11 09:14] dohomi commented on #48
Hi @serkandurusoy how do you use it? Could you paste an example? Thanks!

[2015-08-11 09:31] serkandurusoy commented on #48
Take a look at the following for an example. The only doubt I have is if I am overusing it.

Also, `this.unblock` should not be used for publications where you have other subscriptions that depend on waiting for this one to be ready.

[code]

[2015-08-11 09:37] dohomi commented on #48
Thanks for this. I'll check it out soon.

[2015-08-11 12:52] tiennouc opened #53 "publishComposite on meteor.com ?"
Hi Sean,
This is my first post on github, so please be indulgent ;-). I am developing an online strategy game where each player has a personal field of view that can evolve during the game when he conquers more territories (in fact when he drops some cubes on the map, yes that's kind of an abstract game..). Therefore the server publishes only the tiles owned by the player + somes tiles around them

[2015-08-11 17:42] reywood commented on #36
Finally got to this. You can now publish multiple top level cursors using one of the two forms below.

[code]

[2015-08-11 17:42] #36 closed

[2015-08-11 17:52] bubuntux commented on #36
Awesome! :thumbsup:

[2015-08-11 18:45] reywood commented on #28
This is definitely tricky. `publishComposite` uses both `observe` and `observeChanges`. It uses `observe` because it needs the whole document when updating child publications. The `observe` handler is also used to send "added" and "removed" updates to the client. It uses `observeChanges` to send changes to the client, because, as mentioned elsewhere, it is more efficient. The upshot is that transf

[2015-08-11 18:51] reywood commented on #42
This may be somewhat related to the discussion in #28.

[2015-08-11 18:56] hellogerard commented on #36
Hey, thanks!

[2015-08-11 19:17] Diggsey commented on #42
@reywood What are your thoughts on my PR #43 ?

[2015-08-11 21:19] reywood commented on #42
It relies on the private function `_compileProjection` which doesn't seem like a great idea. The Meteor folks could refactor or remove that function at any time. It also completely removes the `observeChanges` handler which is a major blow to performance in the default use case. Given these issues, I think PR #43 is a non-starter.

[2015-08-11 21:36] reywood commented on #46
Fix merged and deployed

[2015-08-11 21:36] #46 closed

[2015-08-11 21:43] Diggsey commented on #42
True - it would be possible to instead simply duplicate that function here, it's fairly simple.

I don't understand this, if anything removing the call to `observeChanges` will improve performance. It's better to have one observation running rather than two, and internally `observeChanges` is implemented in terms of `observe` anyway.

[2015-08-11 22:59] evolross opened #54 "Fetches leading up to return query in find are not running reactively."
I've been using `mrt:reactive-publish` successfully but I wanted to give `publish-composite` a try since it's kept up to date and the doc says it's reactive.  I'm having trouble getting the following publication to update reactively.  It doesn't use any children queries, but it needs to call a couple of fetches to pass into the final return query :

    Meteor.publishComposite('biddersByProduct',

[2015-08-11 23:02] reywood commented on #42
My mistake. I missed that you moved that functionality into the other observe handler. In poking around, it looks like the Meteor folks are [moving the diff logic](https://github.com/meteor/meteor/commit/68fa78293033ea573f0f96f74601c0add8ff500a#diff-76fba1b2fdacfeeef60ee21d1c806794) into a separate package called [diff-sequence](https://atmospherejs.com/meteor/diff-sequence). I was unable to add t

[2015-08-12 00:47] reywood commented on #54
Only the cursor returned by your `find` function is observed for changes. The only way to do this currently would be to have each query in its own `find` function with each successive query in a child `find`. Of course, that means you'll be publishing all the docs from all your queries. An option to not publish the cursors from specific `find` functions may be added in the near future.

[2015-08-12 02:31] evolross commented on #54
Thanks for the info. I was trying to figure out how to re-write the query to make it `publish-composite` friendly, but the problem is I actually need to query the children first to get the set of `ids` to pass to the parent query.  If you can have **two** parent queries (like siblings) it might work (one for `PhysicalBids` one for `CombinedBids`, then they both have a child query that finds `Bidde

[2015-08-12 08:32] tiennouc commented on #53
In fact, it doesn't work on digital ocean neither...

[2015-08-12 11:01] zimme opened #55 "Changelog"
A changelog would be nice.

Thanks for the package.

[2015-08-12 12:09] patrickml commented on #53
Have you set up oplong support?

[2015-08-12 12:09] patrickml commented on #53
Oplog*

[2015-08-12 12:14] tiennouc commented on #53
No. Could that be helpful ? I will do it as soon as possible if it isn't too complicated.

[2015-08-12 13:56] tiennouc commented on #53
Ok, you were right ! I set up Oplog support on my digital ocean server and it works perfectly ! Thank you very much, I'm grateful because without you my basic knowledge of meteor, servers and stuff would not enable me to detect the cause :) Thank you.

[2015-08-12 16:43] reywood commented on #54
Ah, I see. It doesn't look like 'publishComposite` is a good fit in that case.

[2015-08-12 16:47] reywood commented on #53
I wouldn't have guessed that was the problem. Glad someone else was paying attention :)

[2015-08-12 16:47] #53 closed

[2015-08-13 02:29] patrickml commented on #53
No problem I can't wait to check out your game once it's up and running!

[2015-08-13 10:48] mordra commented on #36
This makes me happy :smile:

[2015-08-17 01:02] patrickml commented on #54
@evolross think of `publishComposite` as a way to get the data to the client and use a package like `https://github.com/dburles/meteor-collection-helpers` to manage your relationships.

[2015-08-17 16:05] reywood commented on #54
It occurred to me that you could accomplish what you're trying to do with the following.

[code]

[2015-08-18 19:58] evolross commented on #54
Yes that works! Thanks for the support and getting me there.  It's what I was saying above about having "two parent" queries as "siblings" but I didn't think to just array the "parent siblings".  Very cool.

I also really like how on the template helper side the code is the same even if I'm trying to get the "children" `Bidders` objects.  It's still just `Bidders.find()` in the JavaScript.  I don'

[2015-08-18 19:58] #54 closed

[2015-08-22 18:27] bilalahmed70 opened #56 "date field is not published"
publishing is working fine and it's publishing all fields except dateCreated which ISODate. Not sure what am I missing. Here is the record looks like:

{ "_id" : "CxRom6TvkAX8mLzh5", "text" : "Another group", "creatorId" : "xiZww8jsJQyvjeybG", "dateCreated" : ISODate("2015-08-22T06:27:37.169Z"), "creatorUsername" : "+1408111111" }

Thanks.

[2015-08-22 23:43] reywood commented on #56
Can't comment without seeing what your publication looks like.

[2015-08-31 20:34] jasonxeno opened #57 "METEOR@1.2-rc.9 issue"
My publish composites used to work in Meteor 1.1.0.3 but with Meteor release/METEOR@1.2-rc.9, I'm getting the following error.

I20150831-15:29:11.360(-5)? Exception in queued task: TypeError: Cannot read property '_id' of undefined
I20150831-15:29:11.360(-5)?     at [object Object].children.find (server/publications/shipments.js:129:1)
I20150831-15:29:11.360(-5)?     at Publication._getCursor (pa

[2015-08-31 20:52] jasonxeno commented on #57
Nevermind, it is not this package's issue.

[2015-08-31 20:52] #57 closed

[2015-09-08 17:00] dutchakdev commented on #55
+1, and thanks for nice package!

[2015-09-12 11:53] fdelia opened #58 "Subscribtions break with lot of data"
I'm not sure if this is my fault: I love the package, but I had an issue in an app of mine (where rows would not be send, even if they were published). I tried to reproduce the issue with one of your example-repos and came across other issues. I built [this repo](https://github.com/fdelia/reywoods-meteor-publish-composite).

Issues
* Simple subscribtion raises the exception ` Exception in queued t

[2015-09-14 10:14] SteveFortune opened #59 "Invalidate child cursors if their parent changes."
We have a model where users have a many-to-many relationship with organisations. We're using a joining collection called 'Memberships' to model the relationship: a membership has a `userId`, an `_orgId` and various other properties relating to the user's permissions within that organisation.

I've started using `publishComposite` to make the following available to the user:

- their (active) membe

[2015-09-14 10:46] SteveFortune commented on #59
Looks like `publishComposite` does actually take care of this for you, by bad.

I had some additional parameters being appended to the `Memberships.find` query in a hook, which meant that it expanded to something like:

[code]

[2015-09-14 10:46] #59 closed

[2015-09-15 04:28] dburles opened #60 "Hard to trace bug"
Just thought I'd post this one as it was a weird one to trace. I was bitten by a transform on a collection that placed a couple of default fields.

The problem was brought about by having two publications that would publish the same document. The first publication returned the document with the `fields` option. The second publication had no restriction.

The first publication would send across the

[2015-10-01 15:36] reywood commented on #55
CHANGELOG.md added

[2015-10-01 15:36] #55 closed

[2015-10-01 15:36] #56 closed

[2015-10-01 15:36] zimme commented on #55
:+1:

[2015-10-01 15:54] reywood commented on #60
Sorry for the late reply. If you could put together a minimal meteor app that exhibits this behavior, it would be extremely helpful.

[2015-10-01 16:09] reywood commented on #58
This is the publication from your repo:

[code]

Note the spot where you have `// the author of this one`. There's no `find` function present which is what causes the `Cannot call method 'apply' of undefined` error.

[2015-10-01 16:09] #58 closed

[2015-10-01 16:20] reywood commented on #60
Upon re-reading your comments, sounds like your issue is related to #28. The reason you don't see the transform when a document is changed is [explained here](https://github.com/englue/meteor-publish-composite/issues/28#issuecomment-130012786).

Going to close this as a duplicate of #28, but let me know if you feel this is a different issue.

[2015-10-01 16:20] #60 closed

[2015-10-01 17:02] fdelia commented on #58
This makes sense. Thx!

[2015-10-02 00:27] dburles commented on #60
Hey @reywood. My main question here is I am unsure why the transforms are being applied. Seems it would make sense to not apply any transformations in the context of the publications (as it is in a normal meteor publication).

[2015-10-02 19:21] reywood commented on #60
I explain why the transform is applied in [this comment](https://github.com/englue/meteor-publish-composite/issues/28#issuecomment-130012786) from #28.

[2015-10-03 16:08] GJean opened #61 "Value of null"
Hello,

I have this code :
[code]
And I have this error :
[code]
I don't know why, I test Devis.find() return I have data and same with Client.find(), I have data.

[2015-10-03 21:55] reywood commented on #61
I'm not near a computer right now, but off the top of my head, it looks like you're returning documents that don't have an `_id` field.

[2015-10-03 23:45] GJean commented on #61
Yes, I add _id for Devis and Client but I have the same error.

[2015-10-06 20:11] reywood commented on #61
I've looked at the code, and the only way this happens is if the `_id` field has a value of `null`. Note that this is different than the document **not** having an `_id` field.

[2015-10-07 08:38] GJean commented on #61
I search in mongo and I find one document with null _id. Thanks for your help.

[2015-10-07 15:45] #61 closed

[2015-10-13 17:34] MichaelJCole opened #62 "Silent error if `children` isn't an array."
Hi, awesome package.  Thanks!

Hey, I ran into a sticky error that might cause others issues.  I had `children: {...}`, but the children weren't getting to the client.  `children: [{...}]` worked.

Cheers!

Mike

[2015-10-22 08:22] maxnowack commented on #28
I've created a package for transformations in publications: https://atmospherejs.com/maximum/server-transform
a. can be done using my package.
b. & c. using my package in combination with the `fields` option on the cursor.

[2015-10-22 18:47] JulianKingman opened #63 "Publish children from same collection"
Can publish-composite publish children from the same collection? Why would I do this instead of just making the find query more robust? See example below:

[code]

Right now if I do this, it's only returning my user.

[2015-10-22 21:26] JulianKingman commented on #36
Super handy, can you add a note to this in the documentation? Where it says:
"An object literal specifying the configuration of the composite publication or a function that returns said object literal"
Instead say:
"An object literal specifying the configuration of the composite publication or a function that returns said object literal (or an array of object literals)"
And including it in one of

[2015-10-22 21:32] JulianKingman commented on #63
Nevermind, this does work, I was just doing the multiple cursor call wrong (per #36).

[2015-10-22 21:32] #63 closed

[2015-10-25 02:44] Gaelan commented on #28
I would like a way to ignore transforms when publishing. I use an ORM-like pattern which uses transform functions to have queries return proper objects instead of the raw mongo data. However, I still want to send plain Mongo data to the client.

[2015-10-25 07:38] maxnowack commented on #28
@Gaelan this behavior should be the meteor default

In your case, the transform function will be executed in the client also.
You can instantiate your mongo collection differently on client and server and use different transform functions.

[2015-10-27 06:54] digz6666 opened #64 "How do I publish children of children or multiple cursors?"
How do I publish children of children or multiple cursors?

I have following 2 collections:

VehicleBodyType collection has sub body type:
[code]

VehicleModel has bodyType property:
[code]

How to publish VehicleBodyType with each bodyTypes list?
I tried following, but throws exception:
[code]

[2015-11-09 19:57] tewksbum opened #65 "Does publish-composite work with "check""
New to this and likely doing things wrong.  I can get the pattern without an argument working just fine:

[code]

However, when I try to accept an argument, which forces me to use "check" - it doesn't.

[code]

I've called either from the same subscription:

[code]

[2015-11-09 19:57] tewksbum opened #66 "Does publish-composite work with "check""
New to this and likely doing things wrong.  I can get the pattern without an argument working just fine:

Meteor.publishComposite("productx", {
    find: function (product) {
        return Products.find({});
    }, children: [{
        find: function (product) {
            return Uploads.find({productId: product._id});
        }}]
});

However, when I try to accept an argument, which forces me t

[2015-11-09 21:59] reywood commented on #65
Calling `check` should be the first thing in your publication, like so:

[code]

[2015-11-09 21:59] #65 closed

[2015-11-09 22:00] #66 closed

[2015-11-09 22:08] reywood commented on #64
You're referencing a property `bodyStyles` that is not defined in any of your documents. You also reference a variable `carCount` that isn't declared anywhere. Beyond those two problems, each `find` function must only return one cursor, not an array of cursors. You could use mongodb's [`$or` operator](https://docs.mongodb.org/manual/reference/operator/query/or/) to get all the necessary records in

[2015-11-09 22:08] #64 closed

[2015-11-12 11:15] sunstorymvp commented on #42
any news with ```internal: true```?

[2015-12-05 08:21] sahanDissanayake opened #67 "Meteor.publishComposite still returns the Meteor.publish data"
Hi @reywood ,

Is there a way to debug why I'm not getting the joined data from the server ?

This is just returning the results
[code]

As this one

[code]

[2015-12-05 09:52] sahanDissanayake commented on #67
I;m using react on my project too something similar to this https://github.com/micouz/meteor-react-tutorial-next

[2015-12-09 22:23] serkandurusoy commented on #38
FWIW I seem to get this *a lot* and can't actually pin it down somewhere. *Feels* as if it is related to publications getting teared down as logged in user changes, since all my publications require this.userId

[code]

[2015-12-10 04:01] mquandalle commented on #67
This may be caused by publishComposite returning the `ready` DDP message before the remaining data. I have a similar problem while trying to subscribe on the server with FastRender https://github.com/wekan/wekan/issues/431.

[2015-12-10 09:13] sahanDissanayake commented on #67
Yep.. This is an issue.. The ready event comes through before the data is fetched.. Any thoughts on a fix @mquandalle  ?
@reywood ??

[2015-12-10 09:18] darkship opened #68 "wrong topLevelDocument in third Level find"
My repo : https://github.com/darkship/test_publish_composite_update_array_bug

You will see that the number of items returned in <code>ItemsThroughSecondLevelPublish</code> is not the same as in <code>ItemsThroughThirdLevelPublish</code>

[2015-12-10 18:03] reywood commented on #67
Hmm, your example doesn't appear to be valid JavaScript. The most helpful thing in this kind of situation is to create a GitHub repo containing a minimal working Meteor project that demonstrates the problem. If you can do that, then I may be able to provide some insight.

[2015-12-10 18:05] sahanDissanayake commented on #67
ok I will do it in another 9 hours or so. thanks

[2015-12-11 07:19] sahanDissanayake commented on #67
@reywood here we go, https://github.com/sahanDissanayake/hello-react-meteor

You could see the difference when you change ``publishComposite`` to be normal meteor ``publish``

[2015-12-11 07:20] sahanDissanayake commented on #67
https://github.com/sahanDissanayake/hello-react-meteor/blob/c19a0dbf4417f43ed533fa14791a4c0974b4bbbc/server/publications.js

[2015-12-12 06:30] sahanDissanayake commented on #67
Any thoughts on the issue ??

[2015-12-12 19:16] mquandalle commented on #67
I tried to fix this issue, but it may require a rather large refactoring of the internal implementation. I would love to read @reywood on the matter.

We should take inspiration of `Meteor.publish` implementation [here](https://github.com/meteor/meteor/blob/9740c232c1b0c4a6358651bc632a21e48769136d/packages/ddp-server/livedata_server.js#L1042-L1057). Especially it seems that under the hood Meteor u

[2015-12-14 03:19] sahanDissanayake commented on #67
@mquandalle @reywood Should I open a new issue for the ``handle.ready()`` functionality issue ??

[2015-12-18 19:54] john-osullivan opened #70 "Find options issues: "Match error: Failed Match.OneOf or Match.Optional validation""
Hello @reywood , I'm having an issue with a publishComposite subscription and am not sure why it's happening.  I'm requesting a document by one of its fields in the top-level find.  I know that find is being executed based on a console.log() statement within it, and I know that the document I'm looking for exists and has the correct fields/values based on a manual inspection of the Mongo database.

[2015-12-18 20:13] derwaldgeist opened #71 "A question on performance"
I have a scenario that is quite similar to your example: a list of posts, and I want to publish all authors related to these posts.

If I understand this package correctly, it would perform a database query for every single user, since it iterates over the cursor of the posts.

I would expect a significant performance degradation if you use this in combination with endless scrolling, because the t

[2015-12-18 20:41] john-osullivan commented on #70
After doing some more digging it looks like the error is happening when I have a {limit : 1} clause in my .find().  Even if there is only one document in the collection and it is the correct document, the _getFindOptions() method in mongo.js (or mongo/collection.js in the source) throws an error.  Not sure why this error is happening, since it doesn't seem like one should arise in this use case.

[2015-12-19 21:24] john-osullivan commented on #70
Okay, I just tried with another query that isn't in a publishComposite, same issue.  I think it must be an issue with how recent versions of Mongo and Meteor and playing together.  I'll try posting an issue elsewhere, have a good one.

[2015-12-19 21:24] #70 closed

[2015-12-21 10:40] nate331 commented on #71
I would like to hear more about that as well.

[2015-12-26 23:32] andresberrios commented on #71
+1
I would also like to know how the queries are handled. If it iterates over the parentNodes making one query for each node (and so on, in deeper levels of the tree), then the amount of queries can be huge in many cases, which is really undesirable. Maybe a possible improvement would be to return a collection object and a Mongo criteria object in each `find` function and merging them together wit

[2015-12-27 18:12] derwaldgeist commented on #71
I added a log statement in the child document retrieval section, and indeed I got a log statement for every parent object. Since I saw this, I am only using publishComposite if I am sure that the amount of child objects is not too high. For the post and author scenario, it would lead to many unnecessary retrievals of users that have already been retrieved, so I am not using it in this scenario any

[2015-12-30 15:54] lukasvan3l commented on #48
When I try that out, I get this error :(

[code]

[2015-12-31 05:00] TedAvery commented on #67
+1

[2016-01-03 02:37] eXon commented on #67
This fix is badly needed or SSR will be impossible with this package. Is there a way I can help?

[2016-01-06 12:43] sahanDissanayake opened #72 "[Question] How to find the parent using the children"
Hi @reywood ,

So this is the situation..

I have Venues, I have Locations.
I can get the locations under the Venue no problem at all.

But the problem is that I cannot get the venue using the location. I can but the output result does not look very smart.
[code]

So the second time I need to do something like this

[code]
I do not want all the Venues, I only want the Venues that has the ``Locatio

[2016-01-06 20:17] sahanDissanayake commented on #72
got the venues just using the same function.. stupid me

[2016-01-06 20:17] #72 closed

[2016-01-07 14:19] nkahnfr commented on #48
@lukasvan3l I had the same issue when using by mistake an arrow function to define the publication function. More details here: [Common Meteor Patterns in ES2015 - Publications](https://themeteorchef.com/snippets/common-meteor-patterns-in-es2015/#tmc-publications).
Not sure it's the same issue you have but if it could help.

[2016-01-08 07:27] lukasvan3l commented on #48
That was in deed my problem! Sorry, didn't post my solution here...

[2016-01-11 01:20] sahanDissanayake commented on #67
@reywood Do you think there is a fix for this ? Like @eXon mentioned can we help somehow to get this fixed ?

This is a comment found regarding the issue

So yeah, regarding reywood:publish-composite, englue/meteor-publish-composite#67 is an issue for SSR since it currently marks the subscription as ready as soon as the data for the "primary" cursor is sent, and data for the "secondary/joined" cur

[2016-01-11 09:38] TedAvery commented on #67
I'm still fairly new to Meteor, but as a temporary workaround, I believe I achieved what this package helps with by manually chaining together two subscriptions in `getMeteorData` of my React component.

[code]

[2016-01-11 09:49] sahanDissanayake commented on #67
@TedAvery this is good for simple structures,

But when it comes to this https://docs.mongodb.org/manual/core/data-model-design/#normalized-data-models

We need the publishComposite to work as it is suppose to

[2016-01-11 09:51] yched commented on #67
@TedAvery the issue with doing that on the client is that it requires more data roundtrips. That's what this package is supposed to avoid :-)

[2016-01-11 23:46] omar-otieku opened #73 "Collections from publishComposite no longer reactive in Meteor 1.2.1?"
Hello,
I see that publish-composite latest is as of 0.9.0. I am on 1.2.1 and can confirm that collections published with Meteor.publishComposite are no longer reactive. Is there any updates coming in the near future for 1.2.1 support?

[2016-01-15 07:57] luixal opened #74 "Any way to use this on server side?"
My idea was to use this from restivus methods, but I don't see any way to use it on server side. Any idea?

Thanks!

[2016-01-19 03:38] ddddave commented on #67
+1

[2016-01-25 16:25] crazybaud commented on #73
+1

[2016-02-01 14:31] nadeemja commented on #73
Working here.

[2016-02-01 14:32] dpatte commented on #73
works great for me as well.

[2016-02-01 16:09] omar-otieku commented on #73
Yes, I actually had some flawed logic that was getting in the way. Sorry for the false alarm.

[2016-02-01 16:09] #73 closed

[2016-02-04 00:01] john-osullivan commented on #67
++1

[2016-02-16 14:55] eoliphan opened #76 "Question on associated collection naming"
Hi, I'm looking to use this package, but I'm missing something vis-a-vis the naming it uses.  In looking at the 'example 1' I see the relationship between the posts and the meteor users collections being established.  That's clear.  What I'm not 'getting' is when I look at the template I see {{title}} presumably from Posts, then {{postAuthor.profile.name}}.  I don't quite understand where 'postAut

[2016-02-16 15:05] eoliphan commented on #76
Ok, I totally missed the helper lol

[2016-02-16 15:05] #76 closed

[2016-02-18 22:28] imajus commented on #58
This should definitely be handled in better way than displaying that common error message. I've faced the same problem because I've been planning and testing my publication structure and left some blocks there like this:
[code]
I've realized that's a problem only because of this thread here. I couldn't even think that can be the problem.

[2016-02-23 19:31] sabativi commented on #74
I am not sur i understand what you want.
Restivus is for building REST api with REST endpoints and meteor-publish for making publications, so right now i do not see how to mix the two...

[2016-02-23 20:05] luixal commented on #74
Hi,

Maybe it doesn't seem obvious as they're intented for different things... Let's take the first, publishing posts with author information. Now, I want to make that info available in two different places: to the client and to a mobile app (through a REST API), I'd have to write double code (not exactly the same, but quite similar and with the same target): once of the publish-composite and anot

[2016-02-24 09:20] sabativi commented on #71
I think, this should be highlighted somewhere in the README as limits of this package.

[2016-02-24 11:37] sabativi commented on #74
True, it would be good.

The only way, I can think of right now is just first to define functions

[code]

So that you can write :

[code]

and

[code]

Perhaps someone else has a better idea ?

[2016-02-24 11:41] inbaldoron opened #77 "Why don't you use MIT License ?"
Great package !
But restricting license, do you consider changing the license to MIT ?

[2016-02-24 12:20] zhaoyao91 opened #78 "how to return nothing?"
in normal publications, we can `this.ready()` to prevent query if condition is not satisfied. how to do this in publish-composite?

[2016-02-24 12:36] zhaoyao91 opened #79 "how to return nothing?"
in normal publications, we can `this.ready()` to prevent query if condition is not satisfied. how to do this in publish-composite?

[2016-02-24 12:36] #79 closed

[2016-02-24 14:18] dpatte commented on #78
return an empty cursor, or simply return; from the find section.

[2016-02-25 01:27] zhaoyao91 commented on #78
thanks

[2016-02-25 01:27] #78 closed

[2016-02-28 00:14] luixal commented on #74
In fact, that's what I'm doing right now :)

I think I was hoping to find something like a collection2 or something similar, but relation-powered, which doesn't seem to exist :(

[2016-03-05 07:57] solace commented on #71
Is there a technical reason why an `$in` or an `$or` of the parent objects can't be used to create a single query instead of multiple separate queries?

[2016-03-08 08:40] devwax commented on #74
@luixal [Reactive GraphQL](http://info.meteor.com/blog/reactive-graphql) is on the horizon and will address many of these issues.

The high-level design is being worked out here: [Apollo High-level Design](https://github.com/apollostack/apollo/blob/master/design/high-level-reactivity.md).

[2016-03-08 12:11] dnish opened #80 "Fulltext not working?"
Meteor.publishComposite("search", function(value) {

    return {
        find: function() {
            return Questions.find({$text: {$search: value}}, {
                fields: {
                    score: {$meta: "textScore"}
                },
                sort: {
                    score: {$meta: "textScore"}
                },
                limit: 30
            }, {transform: null});

[2016-03-08 23:45] luixal commented on #74
Sounds great, but if it's based on REST services, maybe the lack of reactiveness is quite relevant. Haven't read it through (just a quick overview) but I think I saw something about DDP connections.

Will have some detailed reading later on.

Thanks @devwax ! :)

[2016-03-10 08:48] tcastelli commented on #67
+1

[2016-03-14 15:13] pcorey commented on #67
+1 Even from a non-SSR perspective, it would be nice (and expected) if a `publishComposite` didn't respond `ready` until all children queries are ready.

[2016-03-15 09:32] Siyfion opened #81 "Small "Gotcha!" with Arrow Functions"
If you attempt to use an ES6 Arrow Function as the function used in a child's `find` function, it **will not run**

[2016-03-27 23:54] benweissmann commented on #77
I'm also curious about your choice of license -- i'd like to be able to use this package in a product i'm developing for my company, but we distribute our software for users to run on their own infrastructure. Under the terms of the LGPL (in particular, section 4(d)), we can't just distribute our software as a minified node package or as a VM without providing the full source to our users so they

[2016-04-04 13:19] CharlesNo commented on #77
Same here, I'd like to use this amazing package for work project, I'm just here to know if there is any update about the question.

[2016-04-07 11:16] ffflorian commented on #81
Same here. But I'm not sure if this is a `publishComposite` or a Meteor error.
I have a helper in my template:
[code]
When using `clientData: () => {` I get `Exception in template helper: TypeError: Cannot read property '_id' of undefined`. With `clientData: function () {` it works fine.

[2016-04-11 04:15] trajano opened #82 "Can this work with FindFromPublication?"
Is it possible to make this work with FindFromPublication?  I think both your code and FindFromPublication wrap `Meteor.publish` though I am trying to see how to get both of them working at the same time.

[2016-04-15 12:26] obrianjunior opened #83 "how to waitOn data ready using iron-router and publish-composite"
if have the following route :

[code]

and the following publication :

[code]

Now my issue is that :  when the related page renders for the first there is no problems but when i actualize the group Page view  the   line : `var members = Meteor.users.find({_id : {$in: group.memberIds}});`  gives me the error : undefined object don't have memberIds property. i guess it's because the subscription i

[2016-04-26 14:22] timmyg opened #84 "arbitrary collection name"
Is it possible to use this package to publish collection with an arbitrary collection name?

My use case is I have two template-level publications on the same route that need to show different data. So that they dont interfere with each other, it looks as though you can do this: http://stackoverflow.com/questions/27748100/in-meteor-how-can-i-query-only-the-records-of-a-given-subscription.

[code]

[2016-04-26 14:30] timmyg commented on #82
@trajano ever get this working?

[2016-04-26 14:46] timmyg commented on #84
similar use case to #82

[2016-04-26 16:28] timmyg commented on #84
Ah, looks like you can use collectionName.... http://braindump.io/meteor/2014/09/20/publishing-to-an-alternative-clientside-collection-in-meteor.html

[2016-04-26 16:28] #84 closed

[2016-04-26 21:04] reywood commented on #82
As @timmyg discovered, you could probably make this work using the `collectionName` option. Check out [this blog post](http://braindump.io/meteor/2014/09/20/publishing-to-an-alternative-clientside-collection-in-meteor.html) for more info.

[2016-04-26 21:04] #82 closed

[2016-04-26 21:16] reywood commented on #83
In your `data` function, check to make sure the `group` variable is not `undefined` before you try to access `group.memberIds`. I suspect this is more an issue with iron-router, so you may have better luck posting this issue over on their issues page.

[2016-04-26 21:16] #83 closed

[2016-05-03 14:59] Data-Meister commented on #68
I'm having the same problem.

It's like the third level find is getting the PREVIOUS value for topLevelDocument

[2016-05-04 09:35] Data-Meister commented on #68
Fixed! Thanks so much Darkship for making that simple project it was really helpful. Submitting PR now.

[2016-05-04 16:10] mikepaszkiewicz opened #86 "Publication observers aren't getting removed"
I've been noticing my memory creeping up every few days eventually to 100%, leading to a crash, on a server that I use occasionally for dev work. Checked Kadira, and my created observers are always higher than deleted ones for my most-subbed pubComposites.

This seems indicative of a memory leak, but I can't find any info about repairing a leak dealing with observers. Should I be looking at the pu

[2016-05-05 17:18] obrianjunior commented on #83
@reywood   thanks for your reply !   You are right : in fact subscriptions are non-blocking ; and waitOn feature in iron-router waits until the subscription is ready but not  in the data : function () { //etc } . Meaning that when i find a group in data it's not yet available on the client. that's why it returns undefined.

[2016-06-18 21:08] s-devaney commented on #18
In the native Meteor publish method, returning an empty cursor (i.e. `[]`) works (although `this.stop()` is best practice) but doing this in publishComposite results in an error, it might be good to replicate this behavior? Although a return statement works. as described above.

[2016-06-25 21:37] lukehollis commented on #67
+1

[2016-06-26 06:53] serkandurusoy opened #87 "BUG: if fields option is set on cursor in children, remaining siblings functions don't run"
When we want to publish multiple children to a parent, if one of the children restricts the cursor to some fields, then the remainin children's functions don't even run and publication never sends `ready()` effectively blocking its subscriptions forever.

For example:

[code]

And thank you @reywood I am an avid user of this package. And I'd really appreciate if you could take the time to resolve

[2016-06-26 06:54] serkandurusoy commented on #87
Oh and additionally, switching the order is a workaround. And if there are multiple cursor with fields limitations, than they must be separated into different children blocks, so that calls for rearchitecting the parent publication(s) as well.

[2016-07-23 17:42] johngonzalez opened #88 "Third level is not reactive when update top level parent"
Congratulations for the package. I have the following pattern:

[code]

At third level, is possible get all parent documents as secondTierDocument and topLevelDocument, but when topLevelDocument change, the result isn't update reactively in Third level. I don't know if I am losing some thing or this could a enhancement of this excellent pakage. Thanks

[2016-07-29 10:30] huttarichard opened #89 "DDPRateLimiter"
Hi there, just a question. Is this working properly with `DDPRateLimiter`?

[2016-07-29 10:31] huttarichard commented on #77
Over there same question :)

[2016-08-02 09:36] mzugn commented on #77
I venture to guess that as is the case with quite a few Meteor packages today, this isn't maintained anymore. The owner doesn't seem to comment on any issues and there was no new version since almost a year. Luckily I only used it in one place so it's easy to get rid of and replace with a custom solution :)

[2016-08-08 11:34] MaxTwentythree commented on #67
+1 Any news on this?

[2016-08-20 00:51] stolinski commented on #67
+1

[2016-09-08 03:16] achapela commented on #67
+1

[2016-09-15 13:00] rodcope1 commented on #67
+1

[2016-10-17 14:22] HectorRPL opened #90 "Angular-Meteor Meteor.publishComposite"
Hello, thanks for read

When running `helper` brings values are stored in the variable `verCandidatos.postulados`.
Once I get me the information I need to get a document that is linked (using the function `ng-init="candidato = la postulado.candidato()`) wich runs on the  `helper` from file: `collection.js`.
 Sometimes the `html` shows the properties: `{{candidato.nombre}}`, `{{candidato.apellidos}

[2016-10-30 11:05] elie222 opened #91 "Does this work with disableOplog that was introduced in Meteor 1.3?"

[2016-11-27 20:40] malhal commented on #71
Because the $in objectids query could be massive.

[2016-12-12 17:59] sakulstra opened #92 "Optional publications / performance"
I wonder how to handle optional publications properly.
Imagine a schema like:
[code]

Than I'd do:
[code]

I had some performance problems with that, as refId could be undefined and than all the children will be published so I just prefixed this with `if (!main.refId) return;` - which is not exactly valid according to the docs, as one should always return a valid collection pointer.

Is this the r

[2016-12-19 23:13] etyp commented on #45
@helfer @reywood We're experiencing a "RangeError: Maximum call stack size exceeded" as well after implementing a publish composite on a collection that publishes siblings of the same collection in the `children` array.

We've tried to track down the issue in every corner of our app, and it seems to happen when collections matching the pub are updated with `{ multi: true }`.

Any ideas based on th

[2016-12-28 03:18] leonardoespinosa opened #93 "Property 'publishComposite' does not exist on type 'typeof Meteor'"
Hi everyone!

when i try install meteor-publish-composite executing the command meteor add reywood:publish-composite and  i initialize the project, in the console i found the message: Property 'publishComposite' does not exist on type 'typeof Meteor'

I use the following packages in my meteor project:

[code]
And i have this:

[code]
My meteor is 1.4.2.3 version. Any idea???

[2016-12-29 09:25] Themandunord opened #94 "Publish with composite - Weird behavior"
Hi,

I have two collections : Artworks & ArtworksFavorites
The first is not complicated to understand. And the second is a collection to create relation between user and artworks (e.g. likes on facebook).

[code]
I have two pages.
one page with a subscription to somes artworks. But this sub use publish-composite to get the artworks that users liked.

[code]
You can see that I don't publish all dat

[2016-12-29 15:54] Themandunord commented on #94
See https://github.com/jagi/meteor-astronomy/issues/576

[2016-12-29 15:54] #94 closed

[2017-01-15 00:47] nlhuykhang opened #96 "Is this package being maintainable by the authors?"
I just want to know if the authors still have interests to work on this package?, if not do you have any plans to transfer the job to others or to add some collaborators?

I also want to say thank you, it is a great package so far 👍
@reywood

[2017-01-24 08:59] brylie commented on #96
Great package. We are also concerned whether or not we should be using this package, as there has been no development activity since 2015. Should we still be using this package?

[2017-02-02 06:12] animesh1987 commented on #28
Any updates on this issue?

[2017-02-07 21:43] humbertocruz commented on #39
hello, I am dealling with the same problem, anyone found a solution ?

[2017-02-09 18:25] JWDobken commented on #67
+1

[2017-02-09 18:44] JWDobken commented on #93
Are you running this code server side only?

[2017-02-09 20:47] leonardoespinosa commented on #93
Yes it is...

[2017-02-14 18:47] gdeluca commented on #93
I'm getting the same issue

[2017-02-16 23:02] reywood commented on #93
Hmm, I'm unable to recreate the issue with a fresh Meteor app (version 1.4.2.7). If someone could create a git repo with a minimal Meteor app that demonstrates the problem, I'll take a look.

[2017-02-16 23:52] reywood commented on #91
No idea. If you try it, let me know your results. :)

[2017-02-16 23:57] reywood commented on #89
Don't know anything about DDPRateLimiter. Since publishComposite uses Meteor's native publish under the hood, I don't see why it wouldn't work. Closing, but feel free to reopen if you find that it isn't working.

[2017-02-16 23:57] #89 closed

[2017-02-17 00:36] reywood commented on #90
Nothing comes to mind as to why it wouldn't work. Can't comment further with out seeing a meteor app the demonstrates the issue. If you like, create a github repo with a sample project. Closing for now.

[2017-02-17 00:36] #90 closed

[2017-02-17 01:09] reywood commented on #86
The only ways I could see this happening is if the `onStop` event of the publication wasn't being called correctly or if there is a bug in Meteor itself, though there could be other causes I suppose. Have you seen any errors related to your publications in logs?

P.S. Sorry for the lateness of my reply. Haven't had a lot of time for this project. Since you may have moved on from using this package

[2017-02-17 01:09] #86 closed

[2017-02-17 01:12] reywood commented on #74
Don't have the free time to explore a redesign like this. Feel free to fork this project if you're so inclined.

[2017-02-17 01:13] #74 closed

[2017-02-17 01:31] reywood commented on #71
As you said, a new cursor will be opened for every parent document when calling the child `find` function. I don't recommend using publishComposite for very large datasets (and probably not with infinite scrolling either).

Any solution to the mongodb "join" problem is going to have tradeoffs. This package aims for simplicity, flexibility, and ease of use, but performance suffers when publishing t

[2017-02-17 01:31] #71 closed

[2017-02-17 01:39] reywood commented on #71
I've added a section to the README about possible performance issues with large datasets.

[2017-02-17 01:41] reywood commented on #93
Closing for now, but will reopen if someone creates an example repo.

[2017-02-17 01:41] #93 closed

[2017-02-17 01:41] #91 closed

[2017-02-17 20:38] reywood commented on #92
Yes, that would be the correct way to do it. If a `find` function returns null or undefined, then publishComposite knows to skip it.

[2017-02-17 20:38] #92 closed

[2017-02-20 19:02] mikepaszkiewicz commented on #86
No problem - still using the package, the problem ended up being completed unrelated. Thanks!

[2017-02-21 23:29] reywood commented on #81
Having trouble recreating this problem. Keep in mind that arrow functions do not create their own `this` context, but instead inherit it from the context in which they are defined. This should be fine if the arrow function is defined within a function that is passed to publishComposite. However, if you are using the non-function syntax (`Meteor.publishComposite('foo', { find: () => { ... } });`) a

[2017-02-21 23:29] #81 closed

[2017-02-22 12:05] Nisthar commented on #88
@johngonzalez Any solution for this?

[2017-03-06 09:43] damonmaria opened #97 "No error logged / reported if find() throws an exception"
Is this expected behaviour? Spent ages trying to solve a problem that turned out to be because of this. Even if my find method is:

[code]

Nothing is logged out in the server console.

[2017-03-06 17:12] gchameleon commented on #67
+1

[2017-03-07 17:38] reywood commented on #97
Could not recreate the problem. I tried testing with the publication below. Error was shown in the terminal when subscribing.

[code]

P.S. Note that if you use arrow functions for your `find` function, you will not have access to the subscription context via `this` inside the function.

[2017-03-07 17:38] #97 closed

[2017-03-07 17:39] reywood commented on #96
Still around. I don't get a lot of free time to work on this package, but it does happen occasionally.

[2017-03-07 17:39] #96 closed

[2017-03-08 06:32] damonmaria commented on #97
Strange. I'll try and make a small repo test case.

[2017-03-09 06:21] SimonSimCity opened #98 "Compatibility with percolate:find-from-publication"
I tried to wrap my head around how I could combine this library with the functionality of `percolate:find-from-publication`.

The task of this plugin is to recognize, which publication was responsible for publishing an item - and also query items depending on which publication now published it to the client. In many cases, this is very convenient, since you now don't have to query another collecti

[2017-03-12 23:12] reywood commented on #98
Feel free to fork and modify this package however you see fit.

[2017-03-12 23:12] #98 closed

[2017-03-15 00:54] AlmogRnD opened #99 "mongo find $ne not working"
I have the following mongo find which is using $ne and it's not working, wanted to know if this is a known issue with publish composite
[code]

[2017-03-17 10:43] Twisterking opened #100 "sub.ready() is true too early"
Hi guys!
So I have a Meteor app with a React frontend using MDGs standard `react-meteor-data` package.
In some of my packages I subscribe to **two publishComposite publications** in one Meteor datacontainer:
[code]

My problem is now that my `loading` var is not working properly, so my components are already rendering the first time when my subscriptions **are not ready yet**!
Any ideas on this?

[2017-03-17 12:37] theodorDiaconu opened #101 "Export Publication and Subscription"
So it allows someone like me to hack it and extend your package without modifying very much code.

[2017-03-21 07:59] mvcdev opened #102 "userId is undefined in child publications when using collection hooks"
We're using https://github.com/matb33/meteor-collection-hooks package. I already reported this issue there: https://github.com/matb33/meteor-collection-hooks/issues/218 but I'm on which side this issue is.

We have the following publication:
[code]

We have the following hook:
[code]

[2017-03-23 05:12] mvcdev commented on #102
Just in case here I created a repo reproducing the issue. Here are  the code: https://github.com/mvcdev/todos/blob/master/imports/api/tasks.js#L7-L36

[2017-03-23 09:57] holmrenser commented on #28
A very relevant use of this feature would be the use of the aggregation functionality, especially since MongoDB 3.4. For this option #2 of @steph643's original post would be a requirement to turn the aggregation results back into a publication.

[2017-03-28 17:59] mynameiskyleok commented on #67
+1

[2017-04-03 10:02] JWDobken commented on #100
I think this is the same issue https://github.com/englue/meteor-publish-composite/issues/67

[2017-04-03 14:21] JWDobken opened #103 "make reactive joins in ReactJS"
Have been struggling with this for really long; with my Meteor+ReactJS app, I want to have a reactive join between the `MainCollection` and the `SubCollection`. And the PublishComposite might just be what I need. However, when the SubCollection is updated, this is not reactive!

**server code**
[code]

**client container**
[code]

[2017-04-04 08:57] SimonSimCity commented on #98
If anyone wonders:

I haven't written a PR, but just implemented in the way I wanted it to be.

Take a look at this sample to get an idea of how it could work out for you :wink:

**Server:**

    Meteor.publishComposite('posts', (selectors, filters, linkCollectionName) => {
      const definition = {
        find() {
          return Posts.find(selectors, filters);
        },
        children: [

[2017-04-25 00:18] paulincai opened #104 "Keep getting (could be) package errors in server console Meteor 1.4.4.1"
However everything seems to be working fine for the moment. I am pretty sure I am getting the right data in the pipe.

=> App running at: http://localhost:3000/
I20170425-04:02:34.504(4)? Exception from sub initialMessages id M5Y3wnHoKyzve5hvH TypeError: this.cursor._getCollectionName is not a function
I20170425-04:02:34.505(4)?     at Publication._getCollectionName (packages/reywood:publish-compo

[2017-05-02 17:44] reywood commented on #104
I'm not having any luck reproducing this error. Could you make a GitHub repo with a small meteor project that exhibits this behavior?

[2017-05-02 21:58] #48 closed

[2017-05-02 22:08] reywood commented on #103
Doesn't look like you're waiting for the subscription to be ready before you query your collections.

[2017-05-02 22:08] #103 closed

[2017-05-02 22:12] reywood commented on #67
I've tried repeatedly to reproduce this problem, but I can't get it to happen. If anyone can create a GitHub repo that reproduces this problem, I would be very grateful.

[2017-05-02 22:17] reywood commented on #100
Doesn't seem to be exactly the same as #67. I believe the problem is that you're just evaluating `.ready()` once immediately after subscribing. You need to evaluate `.ready()` reactively. You could try making `loading` into a function rather than a static var, something like `let loading = () => !sub1.ready() || !sub2.ready();`.

[2017-05-02 22:17] #100 closed

[2017-05-02 22:21] reywood commented on #101
Interesting idea, but exporting these classes would make them part of the public API of this package. Doing so would make future changes more difficult to implement as the backwards compatibility footprint would become much much larger. A better option for you would probably be to simply fork this repo or just copy the code into your project and change as you see fit.

[2017-05-02 22:21] #101 closed

[2017-05-02 22:26] zimme commented on #102
I have a solution for this, will submit a PR later this week.

[2017-05-02 22:37] zimme commented on #62
We should probably just run `prepareOptions` on `options.children` as well as `options`

[2017-05-03 23:13] #102 closed

[2017-05-04 09:59] AlmogRnD opened #106 "Is it possible to do pagination"
Would it be possible to do pagination? And will this be ok for large data sets? Also, what would be the correct direction?

[2017-05-05 23:17] reywood commented on #62
Added a `check` on all options fields

[2017-05-05 23:17] #62 closed

[2017-05-08 18:30] zimme commented on #88
Please check if this works as expected with the latest version. I believe this might be related to an issue that was fixed in that version.

[2017-05-08 21:09] zimme commented on #99
This part seems wrong to me, wouldn't this make the rest of that query the options of `find`?

[2017-05-09 16:19] reywood commented on #99
Looks like @zimme is correct. Here's what your query looks like when formatted for readability.

[code]

You also have an extra `return` at the bottom of your publication.

[2017-05-09 16:19] #99 closed

[2017-05-09 16:26] reywood commented on #106
You could pass `skip` and `limit` parameters to your publication and use them in your query. As far a large datasets, you will have to experiment and see what works with your application and hardware. I don't recommend using it with very large datasets with many child publications, but your mileage may vary.

[2017-05-09 16:26] #106 closed

[2017-05-09 16:27] reywood commented on #104
Closing for now but will reopen if you can shed some more light on the problem.

[2017-05-09 16:27] #104 closed

[2017-05-09 23:29] paulincai commented on #104
Will do once I come across this one again. I believe it is happening at the time of logout or mobile app going to background, a time when I possibly lose authorization for the subscriptions.

[2017-05-16 17:08] erencay commented on #98
Thanks @SimonSimCity
Here is a more generic version if needed by anyone;

Use a single client-side collection:
[code]

Store publication name and id at server:
[code]

[2017-05-27 02:02] liu0fanyi opened #107 "Get TypeError: module.exportDefault is not a function, after update meteor"
this is the update info:
[code]

and error:
[code]

want help....thanks!

[2017-05-31 23:50] ericm546 opened #108 "Parent is not always changed when updating a grand parent and a parent of a child"
If I have a meteor-publish-composite having a grand parent, a parent and a child and I do a mongo update to the grand parent and the parent., the parent is not always updated on the client.
ex.

[code]

the problem happen in publication.js

[code]

In my example,
1 Parents.update is executed
2. _republishChildrenOf is called and the publish function of "Childs" is called
3. the code go through `'P

[2017-06-30 23:14] zimme opened #109 "bindEnvironment for callbacks"
https://github.com/meteor/meteor/pull/8734

Just wanted to let you know about this. For apps on 1.5.1 and later this package doesn't have to bind the environment of the observe/observeChanges callbacks. Don't really know if it's worth the effort of not doing this under certain conditions but just thought I would give you a heads up.

[2017-06-30 23:18] reywood commented on #109
Do you know if there are drawbacks to leaving the `bindEnvironment` wrappers in place?

[2017-06-30 23:20] zimme commented on #109
I don't really know if running `bindEnvironment` on an already bound function will cause any weirdness, but I would think not... I can look into `bindEnvironment` a bit more this weekend to see if something makes me think different.

[2017-07-18 15:35] davidyuk opened #110 "The first-connected client doesn't receive new child document if updated both child and parent documents"
Hi!
Code in my app looks like this:
[code]
So, after somebody call the method, the client what were connected first will stay with old child document value.
I have prepared the reproduction repository: https://github.com/Davidyuk/meteor-publish-composite-issue. You need to open it in several browser instances and click `Run method` button. Then you should see that in one of browser instances count

[2017-08-13 02:23] janat08 opened #112 "Document best practice for publication"
I don't belief that even the meteor guide mentions this, but under the hood meteor operates publications best when updates occur with id selector, and proportionally publications better use the same id selectors. I certainly remember being advised to try and update by id as that is recorded in oplog, but if this performance tip is also contingent on publication selector for that id I don't know, a

[2017-09-20 08:25] SimonSimCity commented on #98
The solution I suggested here is known to be very slow on low-power devices (Pads and Phones), because you have to join the data on the client side - it seems quite Ok on a desktop PC though.

Please take a look at this feature request and see if my work-around isn't suited and maybe faster for your use-case: https://github.com/meteor/meteor-feature-requests/issues/183

[2017-09-21 17:07] reywood commented on #112
This sounds like something that should be in the documentation for Meteor. I wouldn't expect every package that has to do with publications to also duplicate that info.

[2017-09-21 17:07] #112 closed

[2017-09-21 17:07] #109 closed

[2017-09-21 18:42] janat08 commented on #112
I belief I created this topic to contest some claim that this package is absolutely performant.

[2017-09-21 20:28] reywood commented on #112
Maybe someone else made that claim. I don't think I ever have 😄 .  In any event, there are many occasions when records that should be published to the client can't be selected by ID. And if someone needs to use this package, chances are pretty good they're in that boat. Do you have a link to any more info about this performance issue?

[2017-09-22 10:27] janat08 commented on #112
Im not sure if publication exactly has to happen by the ID, edit definitely
are best when happening with ID. I think I read 2 articles like that, and
they were pretty old, possibly in 2013 or something.

On Fri, Sep 22, 2017 at 2:28 AM, Sean Dwyer <notifications@github.com>
wrote:

[2018-01-11 18:15] po-jo commented on #56
same here, a publication like :
[code]

with collection {"_id", "text", "author", "fields", "date"} is not reactive for date field  (it's reactive for other fields). @Beelal did you fix your bug ?

[2018-03-27 06:38] bhanuprasad04 opened #115 "How to implement joins into one collection"
I'm trying to get joins in meteor mongo based on relation id.
I read your article http://braindump.io/meteor/2014/09/20/publishing-to-an-alternative-clientside-collection-in-meteor.html
I want to write code in meteor publisher method.

sample code
Meteor.publish('usersWithAccount', function() {
var self = this;
var data = Users.aggregate([{
$lookup: {"localField": "accountId","from": "account", "f

[2018-03-31 08:44] KoenLav commented on #67
We have reproduced this problem with a normal Meteor.publish as well; when publishing the relations of one of our Collections we return an array of cursors in a normal Meteor.publish and when subscribing to this publication subscription.ready() will fire before all data from the relations is actually there.

[2018-03-31 09:38] KoenLav commented on #67
Also, to add: for us this problem only appears when a previously rendered component also subscribes on a subset of one (or more) of the relations.

For instance: when displaying a paginated list of a collection we subscribed on the 'listWithRelations' composite publication which provided the first x (20) results of the collection together with all the related fields (but only those items which are

[2018-03-31 17:17] DeanKamali opened #116 "Exception - Can't call observeChanges from an observe callback on the same query"
I'm trying to publish a subset of Meteor.users collection data,  particularly users with assigned admin role

[code]

No data showing in client-side collection named "Admins", Meteor version 1.6

[code]

Any ideas?

[2018-03-31 17:27] DeanKamali commented on #116
False alarm, restarting meteor fixed the issue

[2018-03-31 17:27] #116 closed

[2018-04-05 18:29] reywood commented on #56
Sorry to hear you're having trouble. Unfortunately, without a working example app that exhibits the behavior, it's very difficult to speculate on possible solutions.

[2018-04-05 20:54] reywood commented on #107
Sorry for delay in getting back to you. Could be related to babel compilation? Not sure. If it's still a problem and you can put together a repo that demonstrates the problem, I'll take a look. Closing for now, but will reopen if I hear anything.

[2018-04-05 20:54] #107 closed

[2018-04-09 21:47] sakulstra commented on #67
@KoenLav could you create a reproduction or even better a failing test? I tried by following your description but didn't succeed... as I get it this should do the trick with the testing setup provided in this package but it doesn't as the test succeeds:
[code]

[2018-05-18 19:12] cormip commented on #67
+1

[2018-07-05 14:09] po-jo commented on #56
oops @reywood  I just saw your comment, sorry for the delay :/
Finally I have switched to regular publications !

[2018-08-11 12:55] SimonSimCity opened #118 "Published version on atmosphere includes `eslint` (increases package size by at least 16MB)"
The version currently available at atmosphere includes the npm package `eslint` and some related packages. This increases the size my project by 16MB - by packages which are only used when developing this package.

These packages were most-likely installed because they're listed in the [package.json](https://github.com/englue/meteor-publish-composite/blob/master/package.json) file. Before publishi

[2018-08-16 20:43] reywood commented on #118
Thanks for reporting. New version pushed without dev dependencies.

[2018-08-16 20:43] #118 closed

[2018-09-16 22:41] jonathanroze opened #119 "Empty children"
Hi there! I'm trying to use this module to join some collections but when a log in my client, there aren't any children!

I'm using Meteor 1.7.0.5.

Here my code: (Server only)

[code]

So, when i console log in find(game) i've the data that i want but not in my client !

My client is in React

Data i want :

[code]

But i'm getting only the reference id!

Thanks!

[2018-09-17 04:27] reywood commented on #119
I would need to see the query you’re doing on the client side to get the configuration document.

[2018-09-17 17:51] Clowning commented on #119
Here my client side :

[code]

And the server side:

[code]

Thanks

[2018-09-20 21:19] reywood commented on #119
I'm not too familiar with React, so I couldn't tell you if there's something wrong with the way you've done that. Do you need to set anything on `props`? Sorry, I can't be more help here.

[2018-10-25 15:57] nazarposhta opened #120 "Publish loses reactivity after "load more""
Hello everyone!
I stacked with a problem of losing reactivity. When I subscribe first time with limit 20 items, everything is fine. But. When I change parameters "limit" (I want to load 20 items more), whole bunch of items loses reactivity. Any ideas?
[code]

[2018-10-25 16:18] copleykj commented on #120
I can't say why this happens, but I think that a better pattern here would be to not cancel the first subscription and start a whole new one, but rather start subsequent small publications utilizing skip to publish an *additional* set of results.

[2018-10-26 08:34] nazarposhta commented on #120
@copleykj  yea... but. That will be "pagination" on "load more".

[2018-10-26 09:08] nazarposhta commented on #120
@reywood  What you think about that problem? Maybe I'm doing something wrong?

[2018-10-26 10:36] nazarposhta commented on #120
Ok guys. Everything is fine. I found a problem. That was inside
`var selector = generateSelector(args);`  Reactivity works perfect. I had to be careful with `selector` object and avoid changing it. `_.extend({}, selector, { _id: task.parent_task_id })` helped me.

[2018-10-26 10:36] #120 closed

[2019-02-08 13:07] rclai commented on #67
@KoenLav my PR #121 fixes the issue you are having.

[2019-05-13 09:37] filipenevola opened #122 "Move to Meteor-Community-Packages organization?"
Hello, I just opened [this issue](https://github.com/Meteor-Community-Packages/organization/issues/10) on Meteor-Community-Packages organization to discuss moving this package to there.

Posting here just for awareness of people using it and also for @reywood to manifest if he is willing to keep maintaining this project.

[2019-07-23 12:12] javascriptlove commented on #38
@reywood I just updated to `publish-composite:1.7.1` and started seeing this error. I saw that there is a check for `this.documents[key]` in the code, is it something that you've been aware of previously? Any idea how to debug this issue?

[code]

[2019-08-07 16:05] tcastelli commented on #38
Having the same problem since last update and was also having trouble debugging this. Any ideas why would it start complaining with the last version?
[code]

[2019-08-20 09:07] javascriptlove commented on #38
@reywood @martinhbramwell Guys, someone has to reopen this, the issue persists with latest available version

[2019-08-26 20:28] sean-kates opened #124 "All published records removed and re-added on subsequent subscriptions in 1.7.1"
Hi there,

Seems to be that in the most recent update (1.7.0 -> 1.7.1), the publication behavior changed somewhat significantly. Not positive if it is intended, I certainly didn't expect it.

We use publish-composite for a list of items that a user can scroll through, sorted by some field. We pass the subscription a limit (lets say 25 items), and once the user reaches the bottom of the list, they

[2019-08-27 09:50] jorisroling commented on #38
+1

[2019-08-27 09:51] jorisroling opened #125 "Error: Doc not found in list"
Could this ticket please be re-opened?
https://github.com/englue/meteor-publish-composite/issues/38

[2019-08-29 08:24] kswilliames commented on #38
+1

[2019-08-29 08:28] jorisroling commented on #38
I've found that using the selector function reactive, it is runs (because of Tracker.autorun) too often and prevents going to the next page. By being careful with assigning to those ReactiveVars only when actually changed (see below) this is prevented.

I use this code (both server & client):
[code]
and then use <ReactiveVar>.setIfChanged(value) to make the selector only be called (autoran) when a

[2019-08-29 23:56] kswilliames commented on #38
Thanks @jorisroling I'll look into the rate the subscription is being called, it seems like it's refreshing as new data comes from higher containers. It didn't seem to have this problem before the latest update to meteor-publish-composite

[2019-09-02 20:13] SimonSimCity commented on #38
I can confirm that this bug is also present using Meteor `1.8.1` and this package in version `1.7.0`.

My stack-trace just looks a little different because I'm using `cultofcoders:redis-oplog` - which is why you find this here in the stack trace.

[code]

[2019-09-06 18:42] yched commented on #124
We're also seeing unintended behavior changes after 1.7.1 and #121.

In our case this happens when a user logs in - when that happens, it seems Meteor stops and immediately restarts all existing subscriptions (composite and "regular" ones).
For documents published by regular, non-composite publications, this is transparent, causing no actual DDP activity.
For composite publications, this was trans

[2019-09-06 22:52] reywood commented on #124
I have reverted the previous changes and released a new version. Let me know if this fixes the problem.

[2019-09-06 23:17] yched commented on #124
@reywood works perfectly, thanks a lot for the quick fix !

[2019-09-09 12:06] sean-kates commented on #124
Works great! Appreciate the fix.

[2019-09-09 12:07] #124 closed

[2019-09-09 21:46] reywood commented on #38
If someone can create a small example project that reproduces this bug, I'm happy to have a look.

[2019-09-09 21:47] reywood commented on #125
I need an example project that reproduces the error. Otherwise, there's no way for me to fix it.

[2019-09-09 21:47] #125 closed

[2019-09-21 08:05] raza2022 opened #126 "Join Data from Array of ID's"
Hi, all first of all thanks for the great work for the community, I just started with package and faced an issue, that how to get children from an array of ID's of a different collection, let assume I have two Collection `Companies` and `Meteor.users` below is my Company Document Looks like
[code]
here you can see `peoples` field contains the user ID's so How I publish this userId's as user Docume

[2019-09-29 06:17] SimonSimCity commented on #38
I haven't seen it again in the past month, but that doesn't say much. We've had a big spike that day it failed - the past month was rather quiet for our system. Seems like a very tough race-condition ... I'll keep you posted as I see it again, but it's definitively there - please reopen.

[2019-10-01 23:56] reywood commented on #126
You'll want to do something like this:

[code]

[2019-10-02 06:37] #126 closed

[2019-10-02 17:02] reywood commented on #122
Done

[2019-10-02 17:02] #122 closed

[2019-10-02 18:07] reywood commented on #119
Do you need more help with this? I'm going to close this for now, but let me know if I should reopen it.

[2019-10-02 18:07] #119 closed

[2019-10-29 13:22] vlad-dewitt commented on #28
Any updates on this? Now I have a problem... I have to use transformations + related collections on publishing.
+1

[2019-11-06 18:45] SimonSimCity commented on #38
@reywood @filipenevola can someone please reopen it, because this still is a bug, and the exception still occurs at least once a week.

I'll now start forking the project by adding more logs to when what and how this could happen.

[2019-11-06 18:47] filipenevola commented on #38
@SimonSimCity done.

[2019-12-12 06:58] tpmh31292 commented on #38
I'm having the same problem. Using Meteor 1.8.1 / cultofcoders:redis-oplog 2.0.2 / publish-composite 1.7.1
Stack trace quite similar to @SimonSimCity. You have any updates please?

[code]

[2019-12-12 08:08] SimonSimCity commented on #38
@tpmh31292 you can help us - e.g. by taking my fork of this package, import it as a custom-override and share your insight 😉 I've just added a bunch of logging data in case it fails: https://github.com/SimonSimCity/meteor-publish-composite/commit/0f37777cd49c493a69c6f380ddab2d6e306dcb6e I'm running this in production trying to get more details ...

[2020-03-23 23:34] adamgins commented on #38
Was anything resolved here. I am seeing this under load too

[2020-03-26 08:08] SimonSimCity commented on #38
@adamgins would you be willing to include my patch and share the details? You can just create a copy of this package into the `packages` folder of your project which will then be used instead of the package from atmosphere (https://guide.meteor.com/writing-atmosphere-packages.html#overriding-atmosphere-packages)

[2020-03-27 06:58] adamgins commented on #38
@SimonSimCity will do soon and get back to you

[2020-04-27 09:27] SimonSimCity opened #130 "Exception in callback of async function: TypeError: Converting circular structure to JSON"
I found the following exception which was reported in my logs a few days ago:

[code]

I cannot really say yet where it came from or how the subscription looked like where this error was thrown, but I found it useful to add it here for the record, if someone else runs into this problem. It should at least be investigated here, because it was thrown as a direct result of something this extension di

[2020-05-08 01:30] Rechdan opened #131 "Declaration file for TypeScript"
So, I'm using TypeScript and I saw that there wasn't any declaration files, so I made one super fast, first time using this module so I'm not sure what to declare, if anyone has a better solution please let me know! 😁

[code]

[2020-05-22 17:13] drone1 commented on #130
Just an educated guess, but are you publishing a composite with circular references?

[2020-05-27 05:41] SimonSimCity commented on #130
Meehh ... you can also shoot yourself into the foot - that works as well ...

The error here is because I added additional debug information to the bug https://github.com/Meteor-Community-Packages/meteor-publish-composite/issues/38#issuecomment-564896571 which called `JSON.stringify(publication)` - and - apparently - the data in `publication` has a circular reference.

[2020-05-27 05:41] #130 closed

[2020-06-24 00:41] diavrank opened #134 "[Question] How to use it together with middleware ?"
Hi, currently I use a package named **peerlibrary:middleware** ,which allows me to add middlewares to my publications, so, the thing is that the way of define my publications is of the following way:

[code]
I use a constructor of **PublishEndpoint**, so, I wondered if there is a way to use **meteor-publish-composite** together  **peerlibrary:middleware** ?

[2020-07-03 03:29] #68 closed

[2020-07-04 19:26] diavrank commented on #134
I found out that I can do that with `tunguska:reactive-aggregate` package, since it also allows to do joins through aggregate pipelines.

[2020-07-04 19:26] #134 closed

[2020-08-18 22:22] ruohki commented on #131
These are not correct if you want to use parameters

[2020-08-20 04:57] jmdsg commented on #88
I don't think this issue is solved yet, and i'm using the last version 1.7.3.

[2020-12-02 12:43] milanzigmond commented on #67
Has this issue been resolved? I'm having the same problem.

[2021-06-18 16:52] derwaldgeist opened #140 "Full compatibility to johanbrook:publication-collector"
I am using `johanbrook:publication-collector` for publication testing and noticed a subtle difference:

If I am using a regular publication and the result set does not contain a document, publication-collector results an empty array like this:

[code]

However, if I replace the publication with `publish-composite`, it returns an empty result:

[code]

This broke my tests. Of course I could workaro

[2022-06-22 21:35] timsun28 commented on #131
Hi,
I'm trying to add my own types to this package as well, but I can't seem to get the find function working properly.
I've kept the following:
[code]

Where dataSpecs is my own parameter with the queries etc.

The function will return an IOptions with the find function that returns a Mongo.Cursor.

In my publication file I have the following example code:

[code]

Here I have the MyCollection as

[2022-07-14 11:54] Float07 opened #146 "children function won't rerun reactively"
I've run into a problem while using this package, and I didn't understand if it was intentional or a bug. Here is a code example from the project's documentation with modified comments explaining what I noticed.

[code]

To exemplify this behavior, imagine the user initially subscribe to the publication and we have a notification in the database with the `type` field as `'about_post'`, so conseque

[2022-09-21 06:53] Sergeant61 opened #147 "Meteor collection hook direct not working"
Hello, I'm going to talk about a bug we noticed. We use priority `redis oplog` and we don't have the problem when we don't use it. During the use of `meteor-collection-hook` with `publishComposite`, we enter the before hook in the collection queries we make with direct and our queries do not work correctly.

Example:
[code]

Normal publish works correctly:
[code]

[2022-10-27 20:52] srikant-lavu commented on #88
I'm using version 1.7.3 and having the same issue as @jmdsg

Any update on this? or anyone found a workaround?

Thank you.